<?xml version="1.0"?>

<launch>

    <arg name="robot_namespace" default="/"/>
    <arg name="enable_ekf" default="$(optenv ENABLE_EKF true)"/>
    <arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED true)"/>
    <arg name="realsense_enabled" default="$(optenv HUSKY_REALSENSE_ENABLED false)"/>
    <arg name="urdf_extras" default="$(optenv HUSKY_URDF_EXTRAS)"/>
    <arg name="joystick" default="true"/>
    <arg name="config_extras" default="$(eval optenv('HUSKY_CONFIG_EXTRAS', find('husky_control') + '/config/empty.yaml'))"/>

    <param name="tf_prefix" value="$(arg robot_namespace)_tf"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find beginner_tutorials)/config/husky.urdf.xacro'
                robot_namespace:=$(arg robot_namespace)
                laser_enabled:=$(arg laser_enabled)
                realsense_enabled:=$(arg realsense_enabled)
                urdf_extras:=$(arg urdf_extras)
                " />

    <node name="base_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            args="husky_joint_publisher husky_velocity_controller">
            <param name="tf_prefix" value="$(arg robot_namespace)_tf"/>
            <param name="base_frame_id" value="$(arg robot_namespace)_tf/base_link"/>
    </node>  

    <include file="$(find beginner_tutorials)/launch/teleop.launch">
        <arg name="joystick" value="$(arg joystick)" />
    </include>

    

    <!-- <group if="$(arg enable_ekf)"> -->
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen" ns="/$(arg robot_namespace)">
            <rosparam command="load" file="$(find beginner_tutorials)/config/localization.yaml"/>
            <rosparam param="odom_frame" subst_value="True">$(arg robot_namespace)_tf/odom</rosparam>
            <rosparam param="base_link_frame" subst_value="True">$(arg robot_namespace)_tf/base_link</rosparam>
            <rosparam param="world_frame" subst_value="True">$(arg robot_namespace)_tf/odom</rosparam>
            <rosparam param="map_frame" subst_value="True">/map</rosparam>
            <rosparam param="/$(arg robot_namespace)/ekf_localization/base_link_output_frame" subst_value="True">$(arg robot_namespace)_tf/base_link</rosparam>   
            <rosparam param="/$(arg robot_namespace)/ekf_localization/odom0" subst_value="True">$(arg robot_namespace)/husky_velocity_controller/odom</rosparam>
            <rosparam param="/$(arg robot_namespace)/ekf_localization/imu0" subst_value="True">$(arg robot_namespace)/imu/data</rosparam>
        </node>
    <!-- </group> -->


    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server">
        <remap from="cmd_vel" to="husky_velocity_controller/cmd_vel"/>
        <param name="link_name" value="$(arg robot_namespace)_tf/base_link"/> 
    </node>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find husky_control)/config/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel"/>
        <param name="tf_prefix" value="$(arg robot_namespace)_tf"/>
    </node>

    <rosparam command="load" file="$(arg config_extras)" />

</launch>